:root {
  font-size: 18px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 90px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.site-nav {
  height: 32px;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
}

.site-header a {
  text-decoration: none;
  color: #25382f;
}

.site-nav a {
  margin-left: 40px;
  font-weight: 400;
  font-size: 0.9rem;
}

.site-nav .selected {
  border-bottom: 4px solid #e95f52;
}

.site-header {
  box-sizing: border-box;
  height: 90px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.site-header h1 {
  letter-spacing: -.05em;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.site-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  right: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.site-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
