.highlighter-rouge code, .highlighter-rouge pre {
color:#fdce93;
background-color:#3f3f3f;
}

.highlighter-rouge .hll {
background-color:#222;
}

.highlighter-rouge .err {
color:#e37170;
background-color:#3d3535;
}

.highlighter-rouge .k {
color:#f0dfaf;
}

.highlighter-rouge .p {
color:#41706f;
}

.highlighter-rouge .cs {
color:#cd0000;
font-weight:700;
}

.highlighter-rouge .gd {
color:#cd0000;
}

.highlighter-rouge .ge {
color:#ccc;
font-style:italic;
}

.highlighter-rouge .gr {
color:red;
}

.highlighter-rouge .go {
color:gray;
}

.highlighter-rouge .gs {
color:#ccc;
font-weight:700;
}

.highlighter-rouge .gu {
color:purple;
font-weight:700;
}

.highlighter-rouge .gt {
color:#0040D0;
}

.highlighter-rouge .kc {
color:#dca3a3;
}

.highlighter-rouge .kd {
color:#ffff86;
}

.highlighter-rouge .kn {
color:#dfaf8f;
font-weight:700;
}

.highlighter-rouge .kp {
color:#cdcf99;
}

.highlighter-rouge .kr {
color:#cdcd00;
}

.highlighter-rouge .ni {
color:#c28182;
}

.highlighter-rouge .ne {
color:#c3bf9f;
font-weight:700;
}

.highlighter-rouge .nn {
color:#8fbede;
}

.highlighter-rouge .vi {
color:#ffffc7;
}

.highlighter-rouge .c,.preview-zenburn .highlighter-rouge .g,.preview-zenburn .highlighter-rouge .cm,.preview-zenburn .highlighter-rouge .cp,.preview-zenburn .highlighter-rouge .c1 {
color:#7f9f7f;
}

.highlighter-rouge .l,.preview-zenburn .highlighter-rouge .x,.preview-zenburn .highlighter-rouge .no,.preview-zenburn .highlighter-rouge .nd,.preview-zenburn .highlighter-rouge .nl,.preview-zenburn .highlighter-rouge .nx,.preview-zenburn .highlighter-rouge .py,.preview-zenburn .highlighter-rouge .w {
color:#ccc;
}

.highlighter-rouge .n,.preview-zenburn .highlighter-rouge .nv,.preview-zenburn .highlighter-rouge .vg {
color:#dcdccc;
}

.highlighter-rouge .o,.preview-zenburn .highlighter-rouge .ow {
color:#f0efd0;
}

.highlighter-rouge .gh,.preview-zenburn .highlighter-rouge .gp {
color:#dcdccc;
font-weight:700;
}

.highlighter-rouge .gi,.preview-zenburn .highlighter-rouge .kt {
color:#00cd00;
}

.highlighter-rouge .ld,.preview-zenburn .highlighter-rouge .s,.preview-zenburn .highlighter-rouge .sb,.preview-zenburn .highlighter-rouge .sc,.preview-zenburn .highlighter-rouge .sd,.preview-zenburn .highlighter-rouge .s2,.preview-zenburn .highlighter-rouge .se,.preview-zenburn .highlighter-rouge .sh,.preview-zenburn .highlighter-rouge .si,.preview-zenburn .highlighter-rouge .sx,.preview-zenburn .highlighter-rouge .sr,.preview-zenburn .highlighter-rouge .s1,.preview-zenburn .highlighter-rouge .ss {
color:#cc9393;
}

.highlighter-rouge .m,.preview-zenburn .highlighter-rouge .mf,.preview-zenburn .highlighter-rouge .mh,.preview-zenburn .highlighter-rouge .mi,.preview-zenburn .highlighter-rouge .mo,.preview-zenburn .highlighter-rouge .il {
color:#8cd0d3;
}

.highlighter-rouge .na,.preview-zenburn .highlighter-rouge .nt {
color:#9ac39f;
}

.highlighter-rouge .nb,.preview-zenburn .highlighter-rouge .nc,.preview-zenburn .highlighter-rouge .nf,.preview-zenburn .highlighter-rouge .bp,.preview-zenburn .highlighter-rouge .vc {
color:#efef8f;
}
