<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Topdoc</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="site-header">
    <div class="wrap">
      <a href="/" class="logo">
        <img src="assets/images/logo.svg" alt="Logo">
        <span class="header">Topdoc</span>
      </a>
      <nav>
        <a href="/" class="selected">Home</a>
        <a href="/about/" class="">About</a>
      </nav>
    </div>
  </header>
  <h1>Topdoc</h1>
  <section>
    {{ content }}
  </section>
  <footer></footer>
</body>

</html>
